<h1>Welcome, <%= @user.name %>!</h1>

<%= link_to 'create new event', events_new_path %>

<p>Events which you are organizing:</p>
<div class="user-events">
  <% @user.events.each do |event| %>
    <li><%= event.name %></li>
    <ul>
      <li>location: <%= event.name %></li>
      <li>when: <%= event.date %></li>
    </ul>
  <% end %>
</div>
